<!DOCTYPE html>
<html>
<head>
	<title>Makeyourway</title>
	  <!-- bower:css -->
	  <!-- endbower -->
	  <meta charset="utf-8"> 
</head>
<body>

<!-- bower:js -->
<script type="text/template" id="block-id">
	<span><%= STEP %></span> (<%= X_AXIS %>)
</script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<!-- endbower -->
<script type="text/javascript" src="script.js"></script>
</body>
</html>